.section {
    width: 100%;
}
.section--hero {
    background-size: cover;
    background-repeat: no-repeat;
}

.section--hero-home {
    background-image:url('../../img/groupphoto40.jpg');
    height: 100px;
    background-position-x: center;
    @media(min-width: $breakpoint-md) {
        height:394px;        
    }
}

.section__header--hero {
    color:#fff;
    padding: 20px;
    @media(min-width: $breakpoint-md) {
        padding-top:50px;
        padding-left:100px;
    }
}

.section--padded {
    padding: 1rem;
}


