.tab__bar {

}

.tab__button {
    border: solid 1px $color-primary;
    background-color: $color-primary;
    color: $color-primary-text-on;
    cursor: pointer;
}

.tabactive {
    background-color: red;
}

.tab__content {
    border: 1px #ccc solid;
    padding: 2rem;
}