.section {
    width: 100%;
}
.section--hero {
    background-size: cover;
    background-repeat: no-repeat;
}

.section--padded {
    padding: 1rem;
}

.section--collapsable {
    
    
}

.section--collapsed {
    .collapse__icon--less {
        display:none;
    }
    .collapsable__area {
        display:none;
    }
}
