// Color palette
$color-primary: #04662a;
$color-primary-highlight: #007ab7;
$color-secondary: #d4d4d4;
$color-secondary-light: #ccc;
$color-secondary-dark: #4a4b4d;
$color-primary-text-on: #fff;
$color-secondary-text-on: #fff;
$color-text: #333333;
$color-text-dark: #000;
$color-text-light: #666666;
$color-background: #fff;

