<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="White Station High School Class of 1970">
        <title>White Station High School Class of 1970</title>
        <link href="/css/main.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            .container {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
            }
            .video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <main>
            <div class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item nav__list-item--home">
                        <img src="./img/White_Station_High_School_logo.gif" class="nav__logo" alt="White Station High School Logo">                        
                    </li>
                    <li class="nav__list-item nav__list-item--home">
                        <h2 class="nav__title">White Station High School Class of 1970</h2>
                    </li>
                </ul>

            </div>
            <section class="section section--hero section--hero-home" class="section--hero-home">                
            </section>
            <section class="cards">
                <div class="card card--4">
                    <div class="cards cards--evenly">
                        <div class="card card--padded card--spaced card--full">
                            <h2 class="card__title">About the Site</h2>
                            <div class="card__description">
                                <p>This website was created for the Class of 1970 at White Station High School in Memphis, Tennessee. The purpose of the website is to share news that is relevant to our class.</p>
                                </p>
                            </div>
                        </div>
                        <div class="card card--padded card--spaced card--full" id="video">
                            <h2 class="card__title">Photos from the Latest Reunion</h2>
                            <div class="container">
                                <iframe width="640" height="360" src="https://www.youtube.com/embed/40KZjAJyZlw?si=zIEN8cjFukEMi4VL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                
                                <p style="margin-top: 1rem;">Thank you, Cindy McIntyre, for all the great pics!</p>
                            </div>
                        </div>
                        <div class="card card--padded card--full">
                            <h2 class="card__title">Past Reunions</h2>
                            <p>
                                Over the years, we have had several class reunions. We celebrated milestone anniversaries of our graduation and we celebrated turning 70 together. We have shared joy as well as sadness over the years, having lost classmates who we lovingly remember as our friends.
                            </p>                                
                                <ul>
                                    <li>1980 Evan Murray's home; softball at St. Louis School</li>
                                    <li>1990 The Peabody Hotel</li>
                                    <li>2000 Leslie Ballin's home; Jewish Community Center</li>
                                    <li>2010 Leslie Ballin's home; The Tower Room</li>
                                    <li>2012 Our 60th Birthday Party, Pickering Center</li>
                                    <li>2015 Leslie Ballin's home; Ridgeway Country Club</li>
                                    <li>2022 50+2 Reunion, Memphis Children's Museum, WSHS Tour, Guest House at Graceland</li>
                                    <li>2015 55th Reunion, Leslie Ballin's home</li>
                                </ul>
                            <p style="margin-top: 1rem;">We make an effort to keep in touch with one another, decade by decade. We are the Spartans from the Class of 1970 at White Station High School in Memphis, Tennessee. We do this together. </p>

                        </div>
                        <div class="card card--padded card--spaced card--full">
                            <h2 class="card__title">Highlights</h2>
                            <div class="card__description">
                                <ul class="list--unordered">
                                    <li class="list__item">We support the <a href="https://team5045.com/#/home"> WSHS Robotics team</a>.</li> 
                                    <li class="list__item">We support the innovative SchoolSeed project, <a href="https://ignite.schoolseed.org/project/7994?fbclid=IwAR33UuGqNxZlX5JMB0KWRqeVKmyop0ZFmABRJEVC866RAZdT2dB3dFLyMuI">White Station High School Community Courtyard</a>. See related photograph below.</li>
                                    <li class="list__item">White Station High School in Memphis, Tennessee has an interesting history. Learn more in Wikipedia, <a href="https://en.wikipedia.org/wiki/White_Station_High_School">White Station High School</a>.</li>
                                    <!-- <li class="list__item">We also want to mention our dedicated principal, <a href="https://www.shackelfordfuneraldirectors.com/obituaries/Rush-Siler/MemorialEvents"> Mr. Rush W. Siler</a>. “A Memphis educator, he taught at East High School and then became the first and long-serving principal of White Station High School, from 1951-1971.”</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="card card--padded card--spaced card--half card--centered">
                            <img src="./img/WHITESTATIONHS010_edited-2_000.jpg" style="width:100%">
                            <div class="card__description--small">
                                    <p>White Station High School</p>
                                </div>
                        </div>                
                        <div class="card card--padded card--spaced card--half card--centered">
                            <img src="./img/znp51fstbebffsrlcacw.jpg" style="width:100%">
                            <div class="card__description--small">
                                <p>White Station High School Community Courtyard. SchoolSeed project.</p>
                            </div>
                        </div>                
                    </div>
                </div>
                
    
                <div class="card card--1 card--padded card--spaced card--centered">
                    <div class="cards cards--stacked">
                        <div class="icon__container"><a href="https://www.facebook.com/groups/28463570769/"><img class="icon" src="./img/f_logo_RGB-Blue_58.png"></a></div>
                        <div class="icon__container"><a href="mailto:whitestationhighschool1970@gmail.com?subject=White%20Station%2070%20Website"><img class="icon" src="./img/baseline_mail_black_48dp.png"></a></div>
                        <div class="icon__container"><a href="https://ignite.schoolseed.org/project/7994"><img class="icon" src="./img/rlnbgwebycferdbqlx3d.jpg"></a></div>
                        <!-- <div class="icon__container"><a href="http://team5045.com/#/home/"><img class="icon" src="./img/RoboticsAd.jpg"></a></div> -->
                        <div class="icon__container"><a href="https://www.classmates.com/places/school/White-Station-High-School/4473"><img class="icon" src="./img/classmatesicon.png"></a></div>
                        <div class="icon__container"><a href="https://en.wikipedia.org/wiki/White_Station_High_School"><img class="icon" src="./img/Wikipedia-logo.png"></a></div>
                    </div>
                </div>
            </section>
            <div id="app">
                <section class="section section--padded">
                    <div class="tab__bar">
                        <button v-on:click="activeTab=0" class="tab__button">Our Whole Class</button>
                        <button v-on:click="activeTab=1" class="tab__button">Memorials</button>
                        <button v-on:click="activeTab=2" class="tab__button">What We Look Like Today</button>
                        <button v-on:click="activeTab=3" class="tab__button">Still Trying to Find</button>
                    </div>
                    <div v-if="activeTab===0" class="tab__content">
                        <div class="persons person__columns">
                            <personname v-for="person in people" v-bind:key="person.id" v-bind:person="person"></personname>
                        </div>
                    </div>
                    <div v-if="activeTab===1" class="tab__content">
                        <div class="persons cards">
                            <person v-for="person in people" v-bind:key="person.id" v-bind:person="person" v-if="person.deceased"></person>
                        </div>
                    </div>
                    <div v-if="activeTab===2" class="tab__content">                        
                        <div class="persons cards">
                            <person v-for="person in people" v-bind:key="person.id" v-bind:person="person" v-if="person.photo_now && !person.deceased"></person>
                        </div>
                    </div>
                    <div v-if="activeTab===3" class="tab__content">
                        <div class="persons cards">
                            <person v-for="person in people" v-bind:key="person.id" v-bind:person="person" v-if="person.missing && !person.deceased"></person>
                        </div>
                    </div>
                </section>
            </div>
            <section class="section section--padded cards" id="planningCommittee">
                <div class="card">
                    <h2 class="card__title">Our Reunion Committee</h2>
                    <p class="card__description">
                        Vanden Willey, Bob Plunk, Sharon (Pepper) Goldstein, Cindy (Anderson) McIntyre, Randy Stepherson, Barby (Fooks) Perlberg Watson, Beverly (Ball) Garrison, Gail (Sacks) Kirshner, Leslie Ballin, Stephanie (Solomons) Brannon, Jimmy Lewis, Steve Fergus, Tom Farrar, and Linda (Kantor) Goodwin-Parkinson
                    </p>

                </div>
            </section>
        </main>        
        <footer>
            <footer class="footer">
                <section class="section section--padded cards">
                    <div class="card">
                        <p class="card__description">Class photo courtesy of DB Kay Productions</p>
                        <p>Disclaimer: This website is not affiliated with <a href="https://schools.scsk12.org/whitestation-hs#calendar23107/20210605/month">White Station High School</a> in Memphis, Tennessee. Vendors, please contact the school directly instead of contacting the classmate who created the website. Thank you.</p> 
                    </div>
                </section>
            </footer>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
        <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    
        <script>
            //document.getElementsByClassName("js-site-nav__list--toggle")[0].addEventListener('click', function (e) {e.preventDefault(); document.getElementsByTagName('body')[0].classList.toggle('menu--open');});
        </script>

        <script type="text/x-template" id="person-template">
            <div class="person card card--padded card--centered card--constrained">
                <div class="image__container">
                    <img v-bind:src="photo_then_url" class="person__image person__image--then">
                    <img v-if="person.photo_now && !person.deceased" v-bind:src="photo_now_url" class="person__image person__image--now">
                </div>
                <div>
                    <span class="person__name person__name--first">{{ person.first_name }}</span>
                    <span class="person__name person__name--first"> {{ person.nick_name }}</span>
                    <span class="person__name person__name--first"> {{ person.middle_name }}</span>                    
                    <span class="person__name person__name--last"> {{ person.last_name }}</span>
                    <span class="person__name person__name--married"> {{ person.married_name }}</span>
                    <span class="person__name person__name--first"> {{ person.suffix }}</span>
                </div>
                <div class="death-info" v-if="person.deceased">
                    <div class="death-info__date">{{person.deceased_date}}</div>
                    <div v-if="person.obituary_url"><a class="death-info__obituary-link" v-bind:href="person.obituary_url">Grave/Obituary</a></div>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="personname-template">
            <div class="person--small">
                <div>
                    <span class="person__name person__name--first">{{ person.first_name }}</span>
                    <span class="person__name person__name--first"> {{ person.nick_name }}</span>
                    <span class="person__name person__name--first"> {{ person.middle_name }}</span>                    
                    <span class="person__name person__name--last"> {{ person.last_name }}</span>
                    <span class="person__name person__name--married"> {{ person.married_name }}</span>
                    <span class="person__name person__name--first"> {{ person.suffix }}</span>
                </div>
            </div>
        </script>

        <script>
            new Vue({
                el: '#app',
                data: {
                    people : [],
                    collapsed: {
                        now: false,
                        now_without: true,
                        deceased: true
                    },
                    activeTab: 0
                },
                created: function () {
                    var that = this;

                    fetch('/data/people.json')
                        .then(results => results.json())

                        .then(data => {
                            data.sort(function (a, b) {
                                var nameA = a.id;
                                var nameB = b.id;
                                if (nameA < nameB) {
                                    return -1;
                                }
                                if (nameA > nameB) {
                                    return 1;
                                }
                                return 0;
                            });
                            this.people = data;
                        });
                }
            });

            Vue.component('person', {
                props: ['person'],
                computed: {
                    photo_then_url: function() {
                        if (this.person.photo_then) {
                            return './img/then/' + this.person.id + '.jpg';
                        } else {
                            return './img/memorial.jpg';
                        }
                    },
                    photo_now_url: function() {                                                
                        return './img/now/' + this.person.id + '.jpg';
                    }
                },
                template: "#person-template"
            })

            Vue.component('personname', {
                props: ['person'],
                template: '#personname-template'
            })
    
        </script>
    </body>
</html>